.nudge{
    padding-right: 50px;
}

.nudge-small{
    padding-right: 25px;
}

.nudge-down{
    padding-bottom: 50px;
}

.crud{
    display:inline-flex;
    padding-top: 50px;
}
.editor{
    .buttons{
        text-align: center;
        button{
            width: 200px;
        }
    }

    .control-group-flex{
        display: inline-flex;
        padding-left: 10px;
        
        .control{
            display: inline-flex;
            padding-bottom: 20px;
        }

        .control{
            label{
                padding-right: 10px;
            }
            input {
                width: 50px;
            }
            select {
                width: 210px;
            }
        }
    }

    .control-group{
        .control{
            display: inline-grid;
            padding-bottom: 20px;
        }
        .control > label{
            padding-left: 10px;
            font-size: small;
            font-weight: bold;
        }

        .control{
            input, select, textarea, table {
                margin-left: 10px;
                width: 400px;
                min-width: 100px;
            }
        }
    }
}

.grid-display{
    .grid-search{
        display: inline-block;

        .grid-search-fields{
            display: inline-flex;
            padding-left: 10px;
            
            .control{
                display: inline-flex;
                padding-bottom: 20px;
            }

            .control{
                label{
                    padding-right: 10px;
                }
                input {
                    width: 50px;
                }
                select {
                    width: 210px;
                }
            }
        }
    }
    .table-grid-display { 
        thead {
            font-weight: bold;
        }
        thead, tbody {
            tr > td{
                border: 2px solid #dbdbdb;
                padding: 5px 8px;
            }
        }
    }
}